.componentontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}


.container {
  padding: auto;
  display: flex;
}



.main {
  display: flex;
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: white;
  text-indent: 4em;
  font-size: small;
  justify-content: center;
  border-bottom:solid;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 1em;
}

.backlogin{
  background-color: white;
  width: 40%;
  height: 530px;
  margin-top: 6.2%;
  margin-left: 30%;
  padding: 50px;
  box-shadow: 0px 0px 25px #222;
}

.username {
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: large;
  margin: 10px;
}

.password {
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: large;
  margin: 10px;
}

.bar1 {
  padding-bottom: 2.5%;
  display: flex;
  justify-items: center;
  justify-content: center;
}
/* .bar2 {
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: large;
  margin: 10px;
  width: 100%;
  height: 100%;
} */
.footer{

  padding: 100%;
  background-color: white;
  bottom: 0%;
  width: 100%;

}

.footeracc{
  position: absolute;
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 1.6%;
  background-color: white;
  bottom: 0%;
  width: 100%;

}
.item {
  background-color: whitesmoke;
  padding: 5px;
  width: 250px;
  height: 250px;
  margin: 95px;
  line-height: 20px;
  color: grey;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  border-radius: 15px;
  border: solid;
  border-color: black;
}
.boxcontainer {
  height: 100%;
  width: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.title a {
  color: #0070f3;
  text-decoration: none;
}
.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}
.title,
.description {
  text-align: center;
}
.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

/* test */
.card {

  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s; 
  width: 512px;
  height: 384px;
}

.cardtext{
  display: flex;
  justify-content: center;
}



.focuscs{
  
  width: 512px;
  height: 384px;
  background: url(https://steamcdn-a.akamaihd.net/apps/730/icons/econ/default_generated/weapon_deagle_cu_deagle_kitch_light_large.0df9b5246d27786b413642f5fc959f37d8892c3a.png);
}

.focusrl{
  
  width: 512px;
  height: 384px;
  background: url(https://media.tenor.com/WljAbjmtymgAAAAC/rocket-league-octane.gif);
}

.focusru{
  
  width: 512px;
  height: 384px;
  background: url(http://sun9-68.userapi.com/impg/IiObaAzEaXdb_m1yfW2xdTBeplbOlTiZj7A_ZQ/VzcbtIcSZno.jpg?size=512x384&quality=96&sign=6a2f456072ad746938918f8600a15339&type=album);
}

.focusva{
  
  width: 512px;
  height: 384px;
  background: url(https://1tapfps.com/wp-content/uploads/2022/03/image-35-1600x778.png);
  background-size: 512px 384px;
}

.card:hover{
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}  
/* fin du test */
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}
.card h2 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
}
.card p {
  margin: 50px;
  font-size: 1.75rem;
  line-height: 15;
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}